header img{
    font-family:'Roboto', sans-serif;
    padding-top: 30px;
    padding-left: 25px;
    width: 150px;
    background-color: none;
    color: #03264C;
}

header input{
    padding: 1px;
    margin: 1px;
    width: 165px;
    height: 16px;
    font-size: 12px;
    border: solid black 1px;
}

header nav.lupa{
    background-color: white;
    margin-right: 355px;
    margin-left: 15px;
}

.home{
    position: static;
    background-color: #EAC926;
    font-size: 12px;
    width: 100%;
}

.home h2{
font-size: 12px;
padding-left: 50px;
margin-bottom: 20px;
color:rgb(34, 31, 31)
}

li {
    list-style: none;
    margin-left: 5px;
}

a {
    text-decoration: none;
    color:  rgb(34, 31, 31);
    margin-right: 5px; 
    margin-left: -3PX; 
}

header div.burger-menu{
    display: inline-block;
        line-height: 10px;
        background-color: #1259c3;
        color: hsl(0, 0%, 100%);
        padding: 8px;
        border: #1259c3 1px solid ;
        border-radius: 5px;
        margin-top: 25px;
        margin-bottom:25px;
        font-size: 15px;
        margin-left: 150px;

   
 

}
.section article #img{
    max-width: 100%;
}
    



main {
    text-align: center;
}

.main h2{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding-bottom: 10px;
    padding-right: 30px;  
}

main img.cafetera{
    width: 350px;
    height: 350px;
}

main img.macbook{
    width: 350px;
    height: 350px;
}

main img.samsung-galaxy-s10 {
    width: 350px;
    height: 350px;
}

main img.SmartTv{
    width: 350px;
    height: 350px;
}

.main p.precios{
    font-size: 18px;  
}
.main p.descuentos{
    font-size: 16px; 
   
}

.main h4.descripcion{
    font-size: 16px; 
    
}

.footer{
    text-align: center;
    font-size: 12px; 
    background-color: white;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -10px;
}

.footer article i{
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 50px;
    color:#1259c3 ;
}

.footer article h3{
    color:#666;
    margin-top: 1px;
}

.footer article p{
    color: #666;
    margin-top:10px;
}

footer p.texto01{
    padding-top: 30px;
    padding-bottom: 20px;
    color: #666;
    margin-right: 50px;
}